.classpath
.project
.settings
target
build
*.kdev4

kis-mediaspec-interface/build/
kis-mediaspec-interface/dist/
kis-mediaspec-interface/gen-cocoa/
kis-mediaspec-interface/kis-mediaspec-interface.xcodeproj/project.xcworkspace/
kis-mediaspec-interface/kis-mediaspec-interface.xcodeproj/xcuserdata/
